.Hero {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.featured-horizontal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
    background: linear-gradient(90deg, #1a1a1a 130vh, transparent 100%);
}

.featured-name {
    font-size: 6.25rem;
    font-weight: 100;
    margin: 0;
}

.featured-info {
    font-size: 18px;
    margin-top: 4rem;
    font-weight: 700;
}

.featured-overview {
    font-size: 2rem;
    font-weight: 100;
    line-height: 3rem;
    margin-top: 16px;
    max-width: 40%;
}

.featured-gender {
    display: inline-block;
    margin-right: 16px;
}

.featured-age {
    display: inline-block;
    margin-right: 16px;
}

.featured-diamond {
    display: inline-block;
    margin-right: 16px;
}

.featured-buttons {
    margin-top: 1rem;
}
