.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    background: transparent;
    padding: 0 30px;
}

.Navbar img {
    width: 200px;
    height: 70px;
}

.Button {
    font-weight: bold;
    margin-right: 50px;
}

@media (max-width: 760px) {
    .Navbar img {
        width: 150px;
        height: 50px;
    }

    .Button {
        margin-right: 40px;
    }
}
